@keyframes frames {
}

#nasa-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 1.5rem;
}

h1 {
  text-align: center;
}

h1:hover {
  background-color: darkcyan;
}

.brought-by {
  text-align: center;
}

.nasa-data {
  width: 30%;
  background-color: #dcdcdc;
  border: 1px solid black;
  border-radius: 1rem;
}

.nasa-img {
  width: 100%;
}

.heart {
  width: 2rem;
}

input {
  cursor: pointer;
}

.submit:hover {
  background-color: dimgrey;
}
